@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px black solid; */
}

body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  margin: 20px 0;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#header-img {
  width: 50px;
}

#nav-bar {
  background-color: salmon;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  position: fixed;
}

.link-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.nav-link {
  color: #f2f2f2;
  padding: 25px 18px;
  text-decoration: none;
  font-size: 17px;
}

.nav-link:hover {
  background-color: #ddd;
  color: black;
}

#form {
  padding-top: 60px;
  margin: auto;
  text-align: center;
}

#email,
#submit {
  padding: 7px;
  border-radius: 8px;
}

#features {
  padding-top: 65px;
  display: flex;
  text-align: center;
}

.icon {
  font-size: 64px;
  margin-bottom: 12px;
}

#review {
  padding-top: 65px;
}

#pricing {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.product {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

li {
  list-style: none;
}

.tipe p {
  margin: 0;
  padding: 8px;
  font-size: 30px;
  font-weight: bold;
  background-color: salmon;
}

.tipe h3 {
  margin-top: 10px;
}

.tipe input {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: #4bb453;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
}

.tipe input:hover {
  opacity: 0.8;
}

@media (max-width: 576px) {
  section {
    padding-top: 140px;
  }

  #logo p {
    display: none;
  }

  #header-img {
    width: 100px;
  }

  .link-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #features {
    padding-top: 140px;
    flex-direction: column;
  }

  #pricing {
    flex-direction: column;
    justify-content: space-around;
  }

  .product {
    width: 100%;
    margin-bottom: 15px;
  }
}
